@media (min-width: 1200px) {
    .categoria-item {
        height: 250px;

        .categoria-imagen {
            object-fit: cover;
        }

        .categoria-texto {
            font-size: 1.3rem;
            padding: 10px 15px;
        }
    }
}

@media (max-width: 768px) {
    .banner {
        .carousel-item {
            img {
                width: 100vw;
                height: 60vh;
                object-fit: cover;
            }
        }
    }

    .categoria-texto {
        font-size: 1.1rem;
    }

    .categoria-imagen {
        height: 140px;
    }

    .container {
        .row {
          .col-md-3 {
            .sidebar {
              position: relative;
              width: 100% !important;
              height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
              border-right: none;
              border-top: 1px solid #ddd;
              padding: 15px;
              display: flex;
              flex-direction: column; /* Permite al contenido del sidebar estar en una columna */
              justify-content: center; /* Centra el contenido verticalmente */
              align-items: center; /* Centra el contenido horizontalmente */
              order: 100;
      
              .menu {
                display: flex;
                flex-direction: column; /* Apila los elementos del menú verticalmente */
                gap: 10px;
                align-items: center; /* Centra los enlaces horizontalmente */
      
                a {
                  text-align: center;
                  display: block;
                  width: 100%; /* Asegura que cada enlace ocupe el ancho completo */
                }
              }
            }
          }
        }
      }

    .envio-opciones {
        align-items: center;
    }




}

@media (max-width: 576px) {
    .categoria-texto {
        font-size: 1rem;
        padding: 3px 8px;
    }

    .categoria-imagen {
        height: 120px;
    }

    
    //Estilos para carrito   
    .table {
        td, th {
          padding: 8px; 
        }
      
        th {
          font-size: 14px; 
        }
      
        td {
          font-size: 12px; 
        }
      
        .d-flex {
          flex-wrap: wrap; 
        }
      
        img {
          width: 40px; 
        }
      
        .me-2 {
          margin-right: 5px; 
        }
      
        input[type="number"] {
          width: 80px;
        }
      }
}