$primary-color: rgb(0, 0, 0);
$secondary-color: #f0a500;
$dark-color: #333;
$background-color: #FFFFFF;
$header-bg: #f5f5f5;
$font-primary: "Karla", serif;
$font-titles: "Rock Salt", serif;
$unavailable-color: #ccc;